@model List<ResultViewModel>

@if (Model != null && Model.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>File Name</th>
                <th>File Size</th>
                <th>Select a Prefix</th>
                <th>Select a Folder</th>
                <th>Confidence Score</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var viewModel in Model)
            {
                <tr>
                    <td>@System.IO.Path.GetFileName(viewModel.FilePath)</td>
                    <td>@viewModel.FormattedFileSize</td>
                    <td>
                        <form>
                            <div class="form-group">
                                <select class="form-select" id="valueDropdown" name="selectedValue">
                                    @if (viewModel.SelectedPrefix == null)
                                    {
                                        <option selected>select an option</option>
                                        @foreach (var value in viewModel.Prefix)
                                        {
                                            <option value="@value">@value</option>
                                        }
                                    }
                                    else
                                    {
                                        @foreach (var value in viewModel.Prefix)
                                        {
                                            if (value == viewModel.SelectedPrefix)
                                            {
                                                <option value="@value" selected>@value</option>
                                            }
                                            else
                                            {
                                                <option value="@value">@value</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </form>
                    </td>
                    <td>
                        <form>
                            <div class="form-group">
                                @if (viewModel.SelectedFolder.Count == 0)
                                {
                                    @Html.DropDownListFor(model => viewModel.SelectedPrefix, new SelectList(viewModel.Folder, "Value", "Text"), "select an option", new { @class = "form-select", @id = "valueDropdown" })
                                }
                                else
                                {
                                    @Html.DropDownListFor(model => viewModel.SelectedPrefix, new SelectList(viewModel.Folder, "Value", "Text"), viewModel.SelectedFolder.FirstOrDefault(), new { @class = "form-select", @id = "valueDropdown" })
                                }
                            </div>
                        </form>
                    </td>
                    <td>@viewModel.AverageConfidence.ToString("0.00")</td>
                </tr>
            }
        </tbody>
    </table>
}


<style>
    .table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 1rem;
        background-color: transparent;
        color: #212529;
        font-size: 0.9rem;
        line-height: 1.6;
    }

    th,
    td {
        padding: 0.75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }

    thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
    }

    tbody + tbody {
        border-top: 2px solid #dee2e6;
    }

    .form-group {
        margin-bottom: 1rem;
    }

    .form-label {
        margin-bottom: 0.5rem;
        font-weight: bold;
    }

    .form-select {
        display: block;
        width: 100%;
        height: calc(2.25rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        border: 1px solid #ced4da;
        border-radius: 0.25px;
    }
</style>